body{
    background-color: red;
    animation-name: back;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes back{
    0%{
        background-color: red;

    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}
button{
    border-radius: 10px;
    margin-top: 20px;
    font-size: 60px;
}
button:hover{
    cursor: pointer;
    background-color: green;
}