*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: white;
   
}
button{
    border-radius: 10px;
    margin-top: 20px;
    font-size: 60px;
    animation-name: restart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes restart {
    0%{
        background-color: red;
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}
button:hover{
    cursor: pointer;
}
table img{
    width: 250px;
}
